@import "tailwindcss";
@plugin "daisyui";

figcaption {
    color: var(--color-base-content);
    opacity: 0.75;
}

a[style*="color: #4a5568"],
a[style*="color: #243b53"] {
    color: var(--color-base-content) !important;
    opacity: 0.75;
}